---
layout: base.njk
---
<div class="breadcrumb">
  <a href="/">home</a>
  <span class="sep">/</span>
  <a href="/writing/">writing</a>
  <span class="sep">/</span>
  {{ title }}
</div>

<h1>{{ title }}</h1>
<div class="post-date">{{ date | readableDate }}</div>

<div class="post-body">
{{ content | safe }}
</div>
